<!--Post View: Show--> 

<div class="topSec">
	<h1>Post by Post_ID</h1>

	<div class="blog_id">
		<h3><%= @post.title %></h3>
		<p>written by: <a href="/users/<%= @post.user.id %>"><%= @post.user.name %></a></p>
		<p><%= @post.content %></p>
	</div>

	


</div><!--end of topSec div-->