*{
	margin: 0;
	padding: 0;
	font-family: 'Montserrat',sans-serif;
}
.navbar {
	height: 100px; 
	padding: auto 5px; 
}
.logo {
	width: 30%;
	min-width: 22%; 
}
.navbar-brand {
	width: 756px;
	height: 30px;
	padding: 10px;
}
.nav li {
	margin-top: 20px; 
}
#bsTable, .create_container, .login_container, .summary_container, .mk_blog {
	max-width: 85%;
	margin: 0 auto; 
}
	.table h1, .login_reg h1, .topSec h2, .topSec h1, .subSec {
		color: white;
		text-align: center;
		font-weight: 700; 
		margin-bottom: 5rem;
	}
		.subSec {
			margin-top: -4rem;
			font-style: italic;
		}
.post_links a {
	color: #8D8E8E
}
.create_container, .login_container {
	color: white;
	width: 40%; 
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
}
.create_container {
	margin-right: 15rem; 
}	
.topSec, .login_reg, .summary {
	width: 100%;
	background-color: #87C8D9;
	padding: 15rem; 
}
.blog_id  {
	color: white;
	font-weight: 600; 
	margin-bottom: 5rem;
	padding: 2rem;
	border: 2px solid white; 
	border-radius: 10px; 
}
.mk_blog {
	color: white;
	font-weight: 600; 
	margin-bottom: 5rem;
	padding: 2rem;
	border: 2px solid white; 
	border-radius: 10px;
} 